{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">INPUTS</h4>
    <p class="text-center"><i>{{warning}}</i></p>
    <p class="text-center"><i>{{query_1}}</i></p>
    <p class="text-center"><i>{{query_2}}</i></p>
    <p class="text-center"><i>{{query_3}}</i></p>
    <p class="text-center"><i>{{query_4}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Predicted Meter Reading (kWh)</h1>
        <p class="text-center">{{OUTPUT}}</p>

        </div>
    </div>

{% endblock %}
